{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Profile</h1>

    <p>User: {{ user.business_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Gatekeeper ID: {{ user.gatekeeper_id }}</p>
    <br>
    <p>address: {{ user.profile.address }}</p>
    <p>town: {{ user.profile.town }}</p>
    <p>county: {{ user.profile.county }}</p>
    <p>country: {{ user.profile.country }}</p>
    <p>post_code: {{ user.profile.post_code }}</p>

</div>

{% endblock %}