{% extends 'base.html' %}

<h1>Home</h1>

{% block head %}
<title>Connections Home</title>
{% endblock %}

{% block body %}
<h1>Connections Table</h1>


<div>
    <table class="table">
        <thead>
              <tr>
                <!-- <th>User</th> -->
                <th>Message Type</th>
                <th>Direction</th>
                <th>Partner</th>
                <th>Status</th>
                <th><!--Edit--></th>
                <th><!--Delete--></th>
              </tr>
        </thead>

        <tbody>
        {% for value in data %}
            <tr>
                <!-- <td>{{ value.user }}</td> -->
                <td>{{ value.message_type }}</td>
                <td>{{ value.direction }}</td>
                <td>{{ value.client }}</td>
                <td>{{ value.status }}</td>
                <td>
                    <a href="{{ value.get_absolute_url }}">
                        <button type="button" class="btn btn-default">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}




