{% extends 'base.html' %}

<h1>Home</h1>

{% block head %}
<title>Connections Requests</title>
{% endblock %}

{% block body %}
<h1>Connections Requests</h1>
<br/>


<div>
    <table class="table">
        <thead>
              <tr>
                <th>User</th>
                <th>Message Type</th>
                <th>Direction</th>
                <th>Partner</th>
                <th>Current Status</th>

              </tr>
        </thead>

        <tbody>
        {% for value in data %}
            <tr>
                <td>{{ value.user }}</td>
                <td>{{ value.message_type }}</td>
                <td>{{ value.direction }}</td>
                <td>{{ value.client }}</td>
                <td>{{ value.status }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}




